<form method='post' action='/signup'>
  <h2>Signup</h2>
  <img src='https://img.icons8.com/ios-glyphs/512/user.png' class='arrow' alt='' />
  <input placeholder='Email' name='username' />
  <input placeholder='Password' name='password' type='password' />
  <button type='submit'>Signup</button>
</form>
<a href='./login' class='link-login'>Login</a>